.header-address {
    padding-top: 32px;
    padding-bottom: 32px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.02em;
color: var(--third-color);
margin-left: auto;

    &:hover,
    &:focus {
        color: var(--secondary-color);
        }
}

.footer-address:hover,
.footer-address:focus {
        color: var(--secondary-color);
        
    
}
.header-address__svg-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}
.header-address__svg-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
}